<div id="slider"></div>
<div id="scene">
    <div id="cach">
        <img src="./images/000_LOGO_HFC.png"/>
        <img src="./images/001_GENEVA_HFC.jpg">
        <img src="./images/001_LONDON_HFC.jpg">
        <img src="./images/003_MOSCOW_HFC.jpg">
    </div>

    <div id="logo">
        <img src="../images/000_LOGO_HFC.png" alt="Holding Financial Capital">
    </div>
    <ul id="nav">
        <li id="geneva"><a href="#london">London</a></li>
        <li class="devider"><span></span></li>
        <li id="london"><a href="#geneva">Geneva</a></li>
        <li class="devider"><span></span></li>
        <li id="moscow"><a href="#moscow">Moscow</a></li>
    </ul>
</div>